<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>
</head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<form method="post">
    <select id="removeCheese" name="removeCheese">
        <option th:each="cheese : ${cheeses}" th:text="${cheese.getName()}"></option>
    </select>
    <p><input type="submit" value="Remove Cheese" /></p>
</form>

<h1 th:text="${test}"></h1>

</body>
</html>